{% extends 'base.html.twig' %}

{% block title %}Home | User manager{% endblock %}

{% block body %}
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <div class="container">
        <div class="center">
            <h1>User management system</h1>
        </div>
    </div>
{% endblock %}
